.App-p3 {
 width: 100%;
      
      background: url(leaf-rip-paper-blank.jpg);
      background-position:initial;
      background-repeat:repeat-y;
      background-attachment:fixeds;
      background-size: 100%;      
}
